@using intapscamis.camis.domain.Report
@using intapscamis.camis.data.Entities
@model intapscamis.camis.domain.Farms.Models.ReportResponseModel
@{ 

    var originType = Model.ReferenceData.FarmOperatorOrigins;
}


<div>
    <table class="table table-stripped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">No</th>
                <th class="column-title">Region</th>
                <th class="column-title">Name</th>
                <th class="column-title">Type</th>
                <th class="column-title numberValue">Land Size (ha)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.FarmList.Count; i++)
            {
                <tr>
                    <td class="column-title">@(i+1)</td>
                    <td class="column-title">@Model.FarmList[i].Region</td>
                    <td class="column-title">@Model.FarmList[i].Name</td>
                    <td class="column-title">@originType.Where(m => m.Id == Model.FarmList[i].Type).First().Name</td>
                    <td class="column-title numberValue">@Model.FarmList[i].Area</td>
                </tr>
            }
        </tbody>
    </table>
</div>