@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using intapscamis.camis.domain.Report
@model intapscamis.camis.domain.Farms.Models.ReportResponseModel
@{
    var i = 1;
    var type = (int)Model.Request.SelectedReportType;
    var lookup = Model.LocationLookup;

}

<table class="table table-striped jambo_table bulk_action" id="tclick">
    <thead>

        <tr class="headings">
            <th class="column-title">No</th>
            <th class="column-title">@Model.AddressType</th>
            <th class="column-title numberValue">Number Of Projects</th>
            <th class="column-title numberValue">Number of Total Project Area (ha) </th>
            <th class="column-title numberValue">Total Area Of Subleased Land</th>

        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.FarmLandSummary)
        {

            <tr>

                <td class="column-title">@(i++)</td>
                <td class="column-title">
                    @if (lookup.ContainsKey(item.Location))
                    {
                        <p>@lookup[item.Location]</p>
                    }
                    else
                    {
                        <p>@item.Location</p>
                    }
                </td>
                <td class="column-title numberValue">@item.Count</td>
                <td class="column-title numberValue">@Math.Round(item.Area, 2)</td>
                <td class="column-title numberValue">@Math.Round(item.SubleasedArea, 2)</td>

            </tr>




        }
        @if(Model.FarmLandSummary.Count() > 0)
        {

        <tr>

            <td class="column-title">Total</td>
            <td class="column-title"></td>
            <td class="column-title numberValue">@Model.FarmLandSummary.Sum(m => m.Count)</td>
            <td class="column-title numberValue">@Math.Round(Model.FarmLandSummary.Sum(m => m.Area), 2)</td>
            <td class="column-title numberValue">@Math.Round(Model.FarmLandSummary.Sum(m => m.SubleasedArea), 2)</td>

        </tr>
        }
    </tbody>
</table>